player-connection-mode=Listen
player-connection-guid=1632731079
player-connection-debug=1
player-connection-project-name=HermbosFinalIdk
player-connection-ip=25.34.250.124
player-connection-ip=192.168.219.101
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
build-guid=4508964bc2c44b5ea7f545334916de23
